{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebas" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<title>Story 10</title>
	<style>
		table, td{
			border:1px solid black;
		}
	</style>
</head>

<body>
	<svg viewBox="0 0 960 300">
			<symbol id="s-text">
				<text text-anchor="middle" x="50%" y="80%">Subscribe!</text>
			</symbol>
		
			<g class = "g-ants">
				<use xlink:href="#s-text" class="text-copy"></use>
				<use xlink:href="#s-text" class="text-copy"></use>
				<use xlink:href="#s-text" class="text-copy"></use>
				<use xlink:href="#s-text" class="text-copy"></use>
				<use xlink:href="#s-text" class="text-copy"></use>
			</g>
		</svg>
		
	<div class="col-md-6" style="margin: auto;">
		<div class = "form-container" >
            <br>
            <br>
		    <form method="POST"  id="post-form"> {% csrf_token %}

		    	<h3>{{ form.email }} </h3>
		    	<h3>{{ form.nama }} </h3>
		    	<h3>{{ form.password }} </h3>

				<button type="button" class="btn btn-primary" id="submit_button" onclick="daftarPost()" disabled>Submit</button>
		    </form>
		</div>
	</div>
	
	<div class="col-md-6" style="margin: auto;">
		<button type="button" class="btn btn-primary" id="submit_button" onclick="challenge()">Challenge</button>
		<p id="data" style="color: white">

		</p>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src= "{% static 'js/script.js' %}"></script>
</body>
</html>
